# Ros 2 specific ignores
/colcon_workspace/
**/build/
**/install/
**/log/

# Ignore ROS 2 bag files
*.db3
rosbag2_*
*.mcap
ros_ws/utils/ray_frames*/
ros_ws/utils/frame_test
rosbag2_*
*.db3
good_training/
may_2/
long_training_may_8/
